@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-gray-50 dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

@layer components {
  .button {
    @apply relative px-4 py-2 rounded-lg font-normal text-white bg-slate-800 hover:bg-slate-900 focus:ring-4 focus:ring-slate-300 focus:outline-none active:bg-slate-950 transition-all duration-200 ease-in-out shadow-sm;
  }

  .button.loading::after {
    content: '';
    /* @apply absolute inset-0 m-auto w-4 h-4 border-2 border-t-2 border-gray-200 border-t-white rounded-full animate-spin; */
    @apply absolute inset-0 m-auto w-6 h-6 rounded-full border-4 border-solid border-gray-200;
    border-top-color: transparent; /* Makes the spinner more elegant */
    border-right-color: #ffffff; /* Gives a gradient effect */
    border-left-color: #ffffff;
    border-bottom-color: #ffffff;
    animation: spin 0.6s linear infinite; /* Smooth, fast spin */
  }

  .button.loading {
    color: transparent; /* Hides text while spinner is visible */
    pointer-events: none;
  }

  /* Keyframes for the spinner animation */
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @media (prefers-color-scheme: dark) {
    .button {
      @apply bg-slate-200 hover:bg-slate-100 focus:ring-slate-600 active:bg-slate-200 text-gray-900;
    }

    .button.loading::after {
      border-color: #444444; /* Subtle gray for dark mode */
      border-top-color: transparent;
      border-right-color: #888888; /* Slightly lighter color for the gradient effect */
      border-left-color: #888888;
      border-bottom-color: #888888;
    }
  }

  .input {
    @apply w-full px-4 py-2 text-base rounded-lg border border-gray-300 bg-gray-50 text-gray-800 placeholder-gray-400 hover:bg-gray-100 hover:border-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 shadow-sm transition-all duration-200 ease-in-out;
  }

  @media (prefers-color-scheme: dark) {
    .input {
      @apply bg-slate-900 hover:bg-slate-800 focus:ring-slate-600 active:bg-slate-950 text-gray-200 dark:border-gray-700 dark:hover:bg-slate-800 dark:focus:ring-slate-600 dark:focus:border-slate-600;
    }
  }
}
