:root {
  --spacing-1: 0.25rem; /* 4px */
  --spacing-2: 0.5rem; /* 8px */
  --spacing-3: 0.75rem; /* 12px */
  --spacing-4: 1rem; /* 16px */
  --spacing-5: 1.25rem; /* 20px */
  --spacing-6: 1.5rem; /* 24px */
  --spacing-7: 1.75rem; /* 28px */
  --spacing-8: 2rem; /* 32px */
  --spacing-9: 2.25rem; /* 36px */
  --spacing-10: 2.5rem; /* 40px */
}

:root {
  --font-family-sans-serif: 'Inter', sans-serif;
  --font-family-serif: 'Inter', serif;
  --font-family-monospace: 'Inter', monospace;
}

/* Sizes */
:root {
  --size-1: 1rem; /* 16px */
  --size-2: 2rem; /* 32px */
  --size-3: 4rem; /* 64px */
  --size-4: 8rem; /* 128px */
  --size-5: 16rem; /* 256px */
  --size-6: 32rem; /* 512px */
  --size-full: 100%;
}

:root {
  --font-size-1: 0.75rem; /* 12px */
  --font-size-2: 0.875rem; /* 14px */
  --font-size-3: 1rem; /* 16px */
  --font-size-4: 1.125rem; /* 18px */
  --font-size-5: 1.25rem; /* 20px */
  --font-size-6: 1.5rem; /* 24px */
  --font-size-7: 1.75rem; /* 28px */
  --font-size-8: 2rem; /* 32px */
  --font-size-9: 2.25rem; /* 36px */
  --font-size-10: 2.5rem; /* 40px */
}

:root {
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-black: 900;
}

:root {
  --border-radius: 0.5rem;
  --border-width: 1px;
}
